.menu-background {
    -fx-background-image:url("../../images/menu_background.png");
}

.label {
    -fx-text-fill: white;
}

.button {
    -fx-text-fill: black;
    -fx-font: Averia Serif Libre;
    -fx-font-size: 72;
}