.menu-background {
    -fx-background-image: url("../../images/menu_background.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.library-background {
    -fx-background-image: url("../../images/library_background.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.boxes-background {
    -fx-background-image: url("../../images/boxes_background.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
}

.back-button {
    -fx-image: url("../../images/back_icon.png");
}

.label {
}

.button {
}
